.app-bar {
  background: white;
  position: relative;
  width: 100%;
  box-shadow: 0 1px 0 lightgray;
}

.toolbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 16px;
}

.icon-button {
  margin-right: 16px;
  cursor: pointer;
}

.icon-button img {
  max-width: 100%;
  height: auto;
}
