<button  (click)="togglePopover()">
  {{ title }}
</button>
<!-- <ng-template #open> -->
  <div class="custom-popover" *ngIf="isPopoverOpen">
    <div class="popover-header">
      {{ title }}
      <button (click)="togglePopover()">Close</button>
    </div>
    <div class="popover-content">
      <input
        type="text"
        [(ngModel)]="textFieldValue"
        placeholder="Enter text"
      />
      <button (click)="onButtonClick()">create</button>
    </div>
  </div>
<!-- </ng-template> -->
