* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  display: flex;
  padding: 20px;
  background-image: url("https://images.pexels.com/photos/625219/pexels-photo-625219.jpeg?auto=compress&cs=tinysrgb&w=1600");
  background-position: top;
  overflow-x: scroll;
  min-height: 85vh;
  column-gap: 1rem;
}

.list {
  background-color: rgb(255,255,255,0.2);
  padding: 10px;
  border-radius: 1rem;
  width: 250px;
  align-self: flex-start;
}

.list-header {
  display: flex;
  justify-content: space-between;
}

.delete-button {
  padding: 5px 10px;
  background-color: red;
  color: white;
  border: none;
  cursor: pointer;
}

/* Reset some default styles for better consistency */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  padding: 20px;
}

.list-cards {
  display: flex;
  flex-direction: column;
    background-color: transparent;
 
}

.card {
  background-color: rgb(210, 207, 207);
  border-radius: 1rem;
  padding: 10px;
  margin: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.create-button {
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}
.justify-center {
  display: flex;
  justify-content: center;
}
