<div class="main">
  <div class="list" *ngFor="let list of lists">
    <div class="list-header">
      <h3>{{ list.name }}</h3>
      <button class="delete-button" (click)="deleteList(list.id)">Delete</button>
    </div>
    <div *ngFor="let card of cards">
    <div class="list-cards">
        <div class="card" *ngIf="card.idList === list.id">
          <h3>{{ card.name }}</h3>
          <button class="delete-button" (click)="deleteCard(card.id)">Delete</button>
        </div>
      </div>
    </div>
    <div class="card justify-center">
      <app-custom-popover
        (submitClick)="createNewCard($event, list.id)"
        title="Add Card"
      ></app-custom-popover>
    </div>
  </div>

  <div class="list justify-center">
    <app-custom-popover
      (submitClick)="createNewList($event)"
      title="Add Another List"
    ></app-custom-popover>
  </div>
</div>
