/* You can add global styles to this file, and also import other style files */
a {
    text-decoration: none;
    color: inherit; 
}
button{
    border-radius: 0.5rem;
}
*{
    font-family: Raleway;
}