.trello-board {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 20px;
  padding: 20px;
  /* background-color: #f0f0f0; */
}

.custom-card {
  width: 300px;
  height: 150px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: hsl(220, 12%, 95.1%);
  box-shadow: 0 0 10px gray;
  background-image:url('https://images.pexels.com/photos/625219/pexels-photo-625219.jpeg?auto=compress&cs=tinysrgb&w=1600')

}

.card-content {
  padding: 0;
}

h5 {
  font-weight: bold;
}

button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #45a049;
}
