<div class="trello-board">
  <div *ngFor="let board of boards">
    <a [routerLink]="['board',board.name,board.id]">
      <div class="custom-card" >
        <h3>
          {{ board.name }}
        </h3>
      </div>
    </a>
  </div>
  <div class="custom-card">
    <app-custom-popover
      *ngIf="areBoardsLeft; else text"
      (submitClick)="createNewBoard($event)"
      title="Create Board"
    ></app-custom-popover>

    <ng-template #text>
      <h3>Board Limit Exceeded</h3>
    </ng-template>
  </div>
</div>
